@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.card {
    background-color: #dde9eb;
    border-radius: 5px;
    border-color: gray;
}

.btn {
    width: 100%;
}

.center {
    text-align: center;
}

.card-one {
    background-color: black;
    border-radius: 5px;
    border-color: gray;
}

.heading {
    color: #ffffff;
    text-align: center;
}

.paragraph {
    color: #ffffff;
    text-align: center;
}

.background {
    background-color: #009999;
}

.paragraph-one {
    color: black;
    text-align: center;
}
